[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BoneProfileR"]
	path = BoneProfileR
	url = https://github.com/cran/BoneProfileR
[submodule "embryogrowth"]
	path = embryogrowth
	url = https://github.com/cran/embryogrowth
[submodule "HelpersMG"]
	path = HelpersMG
	url = https://github.com/cran/HelpersMG
[submodule "phenology"]
	path = phenology
	url = https://github.com/cran/phenology
